<%= link_to I18n.t(:button_create), new_task_path %><br>
期日
<%= link_to "▲", tasks_path(column: "limit", sort: "ASC") %>
<%= link_to "▼", tasks_path(column: "limit", sort: "DESC") %><br>
<% @tasks.each do |task| %>
  <div class="panel panel-success">
    <div class="panel-body test_title">
      <%= link_to task.title, task_path(task.id) %>
    </div>
    <div class="panel-footer">
      <%= task.content %>
    </div>
    <div class="panel-footer">
      <%= view_limit_status(task.status) %>
    </div>
    <div class="panel-footer">
      <%= task.limit %>
    </div>
    <div class="panel-footer">
      <%= task.created_at %>
    </div>
    <div class="panel-footer">
      <%= link_to I18n.t(:button_update), edit_task_path(task.id) ,id: "edit_#{task.id}"%>
    </div>
    <div class="panel-footer">
      <%= link_to I18n.t(:button_delete), task_path(task.id) ,method: :delete ,id: "delete_#{task.id}"%>
    </div>
  </div>
<% end %>
<%= paginate @tasks, left: 2, right: 2, remote: true%>