<h1><%= I18n.t(:display_show) %></h1>
<%= I18n.t("activerecord.attributes.task.title") %>
<%= @task.title %><br>
<%= I18n.t("activerecord.attributes.task.content") %>
<%= @task.content %><br>
<%= I18n.t("activerecord.attributes.task.status") %>
<%= view_limit_status(@task.status) %><br>
<%= I18n.t("activerecord.attributes.task.limit") %>
<%= @task.limit %><br>
<%= link_to I18n.t(:button_update), edit_task_path(@task.id) %><br>
<%= link_to I18n.t(:button_delete), task_path(@task.id) ,method: :delete %><br>
