<h1>タスク詳細</h1>
Title
<%= @task.title %><br>
Content
<%= @task.content %><br>
Status
<%= view_limit_status(@task.status) %><br>
Limit
<%= @task.limit %><br>
<%= link_to "更新", edit_task_path(@task.id) %><br>
<%= link_to "削除", task_path(@task.id) ,method: :delete %><br>
