<h1><%= I18n.t("display.user_page", name: @user.name) %></h1>
<div class="container">
  <div class="row">
    <div class="col-md-2 text-right">
      <%= I18n.t("activerecord.attributes.user.name") %>
    </div>
    <div class="col-md-10">
      <%= @user.name %>
    </div>
    <div class="col-md-2 text-right">
    </div>
    <div class="col-md-10">
      <% if @user.admin %>
        <%= link_to "管理者画面", admin_user_path(@user.id),class: "btn btn-info pull-left" %>
        <%= link_to "タスク一覧", tasks_path,class: "btn btn-info pull-left" %>
      <% end %>
    </div>
  </div>
</div>








